 @import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");


 :root {
     --primary-color: PapayaWhip;
     --secondary-color: PeachPuff;
     --white: white;
     --black: rgb(26, 26, 26);
     --grey: silver;
     --light-grey: WhiteSmoke;
     --red: rgba(255, 0, 0, 0.1);
     --red-secondary: rgba(255, 0, 0, 0.12);
     --green: rgb(205, 248, 209);
     --green-secondary: rgb(167, 250, 175);
     --primary-font: "Roboto", sans-serif;
     --secondary-font: "Open Sans", sans-serif;
     --transition: all 0.3s linear;
     --spacing: 0.25rem;
     --radius: 4px;
     --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
     --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
     --max-width: 1170px;
     --fixed-width: 620px;
 }

 *,
 ::after,
 ::before {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: var(--secondary-font);
     background: var(--white);
     color: var(--black);
     line-height: 1.5;
     font-size: 0.875rem;
     display: flex;
     justify-content: center;
 }

 ul {
     list-style-type: none;
 }

 a {
     text-decoration: none;
 }

 h1,
 h2,
 h3,
 h4 {
     letter-spacing: var(--spacing);
     text-transform: capitalize;
     line-height: 1.25;
     margin-bottom: 0.75rem;
     font-family: var(--primary-font);
 }

 h1 {
     font-size: 3rem;
 }

 h2 {
     font-size: 2rem;
 }

 h3 {
     font-size: 1rem;
 }

 h4 {
     font-size: 0.875rem;
 }

 p {
     margin-bottom: 1.25rem;
 }

 @media screen and (min-width: 800px) {
     h1 {
         font-size: 4rem;
     }

     h2 {
         font-size: 2.5rem;
     }

     h3 {
         font-size: 1.5rem;
     }

     h4 {
         font-size: 1rem;
     }

     body {
         font-size: 1rem;
     }

     h1,
     h2,
     h3,
     h4 {
         line-height: 1;
     }
 }

 .flex {
     display: flex;
 }

 .section {
     padding: 3rem 0;
     width: 60vw;
 }

 .section-center {
     margin: 0 auto;
     max-width: 1170px;
     border: var(--grey) 1px solid;
     border-radius: var(--radius);
 }

 @media screen and (max-width: 800px) {
     .section {
         width: 80vw;
     }
 }

 main {
     min-height: 100vh;
     width: 100%;
     display: grid;
     place-items: center;
 }

 .title {
     text-align: center;
     margin-bottom: 3rem;
 }

 .title p {
     width: 80%;
     margin: 0 auto;
 }

 .main,
 .main-edit {
     background: var(--white);
     border-radius: var(--radius);
     display: grid;
     grid-template-rows: auto 1fr;
     width: 100%;
 }

 .main-edit {
     display: none
 }


 .button {
     color: var(--black);
     text-transform: uppercase;
     text-decoration: none;
     background: var(--primary-color);
     padding: 10px;
     border: 1px solid var(--secondary-color);
     display: inline-block;
     transition: var(--transition);
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
     border-radius: var(--radius);
     cursor: pointer;
     font-weight: 700;
     margin: 20px 0;
 }

 .button:hover {
     background: var(--secondary-color);
     border-color: var(--primary-color);
     transition: var(--transition);
 }

 .button img {
     height: 15px;
 }


 .button.heat {
     background: transparent;
     border: none;
     opacity: 0.5;
 }


 .button.heat.active {
     opacity: 1;
 }


 #submit-button {
     margin-top: 40px;
 }

 .tab-button-container {
     display: grid;
     grid-template-columns: 1fr 1fr;
     border-bottom: var(--grey) 1px solid;
 }

 .tab-button-container .right {
     border-left: var(--grey) 1px solid;
 }

 .tab-button:nth-child(1) {
     border-top-left-radius: var(--radius);
 }

 .tab-button:nth-child(2) {
     border-top-right-radius: var(--radius);
 }

 .tab-button {
     padding: 1rem 0;
     border: none;
     font-size: 1rem;
     display: block;
     background: var(--grey-9);
     cursor: pointer;
     transition: var(--transition);
     letter-spacing: var(--spacing);
 }

 .tab-button:not(.active) {
     background: var(--light-grey);
     color: var(--black);
 }

 .tab-button:hover:not(.active) {
     background: var(--grey);
     color: var(--black);
 }

 .main-content {
     border-bottom-left-radius: var(--radius);
     border-bottom-right-radius: var(--radius);
     padding: 2rem 3rem;
     padding-bottom: 2rem;
 }

 .content {
     display: none;
 }

 .tab-button.active {
     background: var(--white);
 }

 .content.active {
     display: block;
 }

 .form-control {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: flex-start;
 }

 .form-control label {
     margin-top: 20px;
 }

 .form-control input {
     font-size: 16px;
     line-height: 28px;
     padding: 8px 16px;
     margin: 10px 0;
     width: 100%;
     min-height: 44px;
     border: unset;
     border-radius: 4px;
     outline-color: var(--grey);
     background-color: var(--white);
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
 }

 .image-container {
     width: 100%;
 }

 .image-container img {
     width: 100%;
 }

 .pizza-item {
     margin: 20px 0;
     color: var(--secondary-color);
     padding: 20px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     background-size: cover !important;
     height: 60vh;
     background-repeat: no-repeat !important;
     background-position: center !important;
     border-radius: var(--radius);
     background: var(--black);
 }

 .pizza-item .button-container {
     display: flex;
     justify-content: flex-end;
 }

 .pizza-item .button-container .button {
     margin: 5px;
 }

 .pizza-name-title {
     font-family: var(--secondary-font);
     text-transform: uppercase;
 }

 .pizza-name-title .heat-icon {
     height: 15px;
 }

 #toppings-container {
     margin-top: 10px;
     width: 100%;
 }

 .pizza-toppings-title {
     display: flex;
     width: 100%;
     align-items: flex-end;
 }

 .pizza-toppings-title .dots-border {
     border-bottom: dotted 1px var(--white);
     flex-grow: 1;
     min-width: 50px;
     margin: 0 5px;
 }


 .alert,
 .alert-form {
     margin-bottom: 0;
     padding: 0;
     display: grid;
     align-items: center;
     text-align: center;
     font-size: 0.7rem;
     border-radius: var(--radius);
     letter-spacing: var(--spacing);
     text-transform: capitalize;
     color: var(--black);
     box-shadow: rgba(0, 0, 0, 0) 0px 1px 4px;
     transition: var(--transition);
     height: 0;
     overflow: hidden;
 }

 .alert-danger,
 .alert-success {
     margin-bottom: 10px;
     padding: 10px;
     transition: var(--transition);
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
     height: unset;
 }

 .alert-danger {
     background: var(--red);
     border: 1px solid var(--red-secondary);
 }

 .alert-success {
     background: var(--green);
     border: 1px solid var(--green-secondary);
 }